if ! has kubectl; then
	printf "kubectl not found\n" >/dev/stderr
	printf "Please install kubectl\n" >/dev/stderr
	printf "https://kubernetes.io/docs/tasks/tools/#kubectl\n" >/dev/stderr

	exit 1
fi

export SYS_PATH="$PATH"

PATH_add scripts

export PGHOST=$(kubectl get svc -n semantic-sensei postgres -o jsonpath='{.spec.clusterIP}')
export PGUSER=$(yq '.database.user' k8s/dev/backend/config.yaml)
export PGPASSWORD=$(yq '.database.password' k8s/dev/backend/config.yaml)
export PGDATABASE=$(yq '.database.db' k8s/dev/backend/config.yaml)
